<div class="bb-splash">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a class="mdl-navigation__link" href="/">
          <span class="mdl-layout-title">BounceBack</span>
        </a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">

          <a class="mdl-navigation__link" href="/session/new">Sign In</a>
          <a class="mdl-navigation__link" href="/user/new">Sign Up</a>
          <a class="mdl-navigation__link" href="/recruiter">Recruiters</a>

        </nav>
      </div>
    </header>
    <div class="mdl-layout__content signin-bg">
      <div class="page-content signin-content">


        <div class="mdl-card signin-card">
            <div class="mdl-card__supporting-text splash-text">
                <h2>Find Applicants Here!</h3>
                <h3>
                  When your company is looking to hire, use BounceBack to find highly qualified applicants.
                  Log in as a guest and post a position or sign up and develop a relationship with our users.
                  Whichever you choose, you can't lose with BounceBack.
                </h3>
            </div>
            </div>
        </div>

        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">BounceBack</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="https://github.com/a-paulson/BounceBack">Github</a></li>
              <li><a href="mailto:andrew.l.paulson@gmail.com">Contact</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
