<div class="bb-splash">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <a class="mdl-navigation__link" href="/">
          <span class="mdl-layout-title">BounceBack</span>
        </a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">

          <a class="mdl-navigation__link" href="/session/new">Sign In</a>
          <a class="mdl-navigation__link" href="/user/new">Sign Up</a>
          <a class="mdl-navigation__link" href="/recruiter">Recruiters</a>

        </nav>
      </div>
    </header>
    <div class="mdl-layout__content signin-bg">
      <div class="page-content signin-content">


        <div class="mdl-card signin-card">
            <div class="mdl-card__supporting-text splash-text">
                <%= image_tag("bb_final_logo.svg",size:"126x102", alt: "BounceBack Logo", class: "logo") %>
                <h2>Into the job you've always wanted!</h3>
                <h3>
                  BounceBack connects job seekers with companies looking for top talent.
                </h3><h3>
                  We don't care how long you've been out of work. We only care that you're ready to BounceBack.
                </h3>
            </div>
            </div>
        </div>

        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">BounceBack</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="https://github.com/a-paulson/BounceBack">Github</a></li>
              <li><a href="mailto:andrew.l.paulson@gmail.com">Contact</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
