.signin-card.mdl-card {
  width: 340px;
  height: 220px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}


.error-card.mdl-card {
  /*width: 340px;
  height: 220px;*/
  margin: 10px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}

.message-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mdl-card.message-card {
  width: 100%;
  /*height: 100%;*/
  min-height: 0;
  height: 100%;
  word-wrap: break-word;

  /*background: rgba(0, 0, 0, 0.30);*/
  background-color: #DEEFFA;
  /*padding: 10px;*/
  margin: 10px;
}


.mdl-card__supporting-text{
  padding: 0;
  margin: 0;
  margin: 2%;
  margin-right: 0;
  padding-right: 2%;
  width: 96;
  color: #757575;
  font-size: 16px;
}

@media screen and ( max-width: 1000px ){
    .mdl-card__supporting-text{
        margin: 10px;
        padding-right: 10px;
    }
}

.message-author{
  margin-top: 0;
}

.message-body{
  font-size: 20px;
  line-height: 1.2;
}


.signup-card.mdl-card {
  width: 340px;
  height: 420px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}

.signin-button-box {
  display: flex;
  justify-content: space-around;
}

/*.signin-input-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

}*/

.signin-bg {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('http://i.imgur.com/lDLQaJP.jpg') center 30% no-repeat;
  background-size: cover;
}

.signin-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-card-button {
  /*margin: 20px;*/
  /*width: auto;*/
}

.mdl-textfield__input{
  width: 200px;
}

.mdl-mini-footer {
  padding: 16px;
}

.MessageScreen {
  background: gray;
}

#error-toast {
  height: 140px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-34 {
  font-size: 34px;
   }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.side-nav-button{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #E9EFF2;
  color: #344954;
}

.side-nav-button:hover{
  /*background-color: rgb(123, 160, 179);*/
  background-color: #F59898;
  /*background-color: rosybrown;*/
}

.left-nav-sub-box{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.left-nav-subtitle{
  text-align: center;
  color: #D5DBDE;
 }

.mdl-list__item-primary-content{
  color: #D5DBDE;
}

#textfield-Search{
  color: #D5DBDE;
  border-color: #D5DBDE;
}

#textfield-Title{
  color: #D5DBDE;
  border-color: #D5DBDE;
}

#textfield-Description{
  color: #D5DBDE;
  border-color: #D5DBDE;
}

.conversation-button-box{
  display: flex;
  flex-direction: row;
}

.conversation-button{
  width: 42.5%;
  margin-left: 5%;
  background-color: #E9EFF2;
  color: #344954;
}
.unsubscribe-button{
  width: 80%;
  background-color: #E9EFF2;
  color: #344954;
}

.conversation-button:hover{
  background-color: #F59898;
}
.unsubscribe-button:hover{
  background-color: #F59898;
}

.left-nav-subsection{
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin-top: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.left-nav-navigation{
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin-top: 16px;
}


#right-nav-bar-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: mintcream;
}

#left-side-nav-bar{
  left: 100%;
  -webkit-transform: translateX(-240px);
   transform: translateX(-240px);
}

.subscription-button{
  background-color: #E9EFF2;
  color: #344954;
  -ms-transform: scale(.75,.75); /* IE 9 */
  -webkit-transform: scale(.75,.75); /* Safari */
  transform: scale(.75,.75);
}

.subscription-button:hover{
  background-color: #F59898;
}

.mdl-list__item{
  padding: 4px;
}

.mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 240px;
}

.mdl-layout--fixed-drawer>.mdl-layout__drawer {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.conversation-index-item-div:hover{
  /*background-color: #e0e0e0;*/
  background-color: #F59898;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
  background-color: #F59898;
}
.conversation-index-item-div{
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid rgba(255, 255, 255, .1);
}

#no-padding-top{
  padding-top: 0px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  padding-top: 4px;
  padding-bottom: 4px;
  /*color: #C4C9CC;*/
  color: #D5DBDE;
}

p {
  line-height: 16px;
}

.conversation-title{
  margin: 5px 0 10px;
}

.conversation-header{
  margin-top: 16px;
  margin-bottom: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);;
  text-align: center;
  color: #D5DBDE;
}

.username-div{
  display: flex;
  justify-content: space-around;
  color: #D5DBDE;
}

.user-icon{
  font-size: 48px;
  margin: 12px 0 12px 0;
  color: #D5DBDE;
}

.username{
  line-height: 48px;
  font-size: 28px;
  margin: 12px 0 12px 0;
  color: #D5DBDE;
}

.sidebar-recolor{
  background-color: #607d8b;
}


.page-content{
  /* Firefox */
width: -moz-calc(100% - 260px);
/* WebKit */
width: -webkit-calc(100% - 260px);
/* Opera */
width: -o-calc(100% - 260px);
/* Standard */
width: calc(100% - 260px);
}


.mdl-textfield__label:after{
  background-color: #F59898;
}

.mdl-textfield__label{
  color: #D5DBDE;
}

.mdl-textfield__label.sign-in:after {
  background-color: rgb(96, 125, 139);
}

.mdl-textfield__label.sign-in{
  color: rgb(96, 125, 139);
}

/*.mdl-layout__drawer{
  width: 20%;
}

.mdl-layout__content{
  width: 80%;
  margin-left: 20%;
}*/
