.NavBar{
  float: left;
  margin: 50px;
}

.MessagePane{
  float: left;
  margin: 50px;
}


.signin-card.mdl-card {
  width: 340px;
  height: 220px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}


.error-card.mdl-card {
  /*width: 340px;
  height: 220px;*/
  margin: 10px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}

.message-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message-card.mdl-card {
  width: 100%;
  /*height: 100%;*/
  background: rgba(0, 0, 0, 0.30);
  /*padding: 10px;*/
  margin: 10px;
}

.signup-card.mdl-card {
  width: 340px;
  height: 420px;
  background: rgba(255, 255, 255, 0.85);
  /*padding: 10px;*/
}

.signin-button-box {
  display: flex;
  justify-content: space-around;
}

/*.signin-input-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;

}*/

.signin-bg {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('http://i.imgur.com/lDLQaJP.jpg') center 30% no-repeat;
  background-size: cover;
}

.signin-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin-card-button {
  /*margin: 20px;*/
  /*width: auto;*/
}

.mdl-textfield__input{
  width: 200px;
}

.mdl-mini-footer {
  padding: 16px;
}

.MessageScreen {
  background: gray;
}

#error-toast {
  height: 140px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.side-nav-button{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.conversation-button-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conversation-button{
  width: 40%;
}
.unsubscribe-button{
  width: 80%;
}

.left-nav-subsection{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.left-nav-navigation{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}


#right-nav-bar-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#left-side-nav-bar{
  left: 100%;
  -webkit-transform: translateX(-240px);
   transform: translateX(-240px);
}

/*.mdl-layout__drawer{
  width: 20%;
}

.mdl-layout__content{
  width: 80%;
  margin-left: 20%;
}*/
